@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --color-bg: #CAD2C5;
  --color-bg-secondary: #FFFFFF;

  --color-text-body: #2F3E46;
  --color-text-heading: #354F52;
  --color-text-inverse: #FFFFFF;

  --color-primary: #84A98C;
  --color-secondary: #52796F;
  --color-accent: #E07A5F;
  --color-highlight: #F4A261;
}

.dark {
  --color-bg: #2F3E46;
  --color-bg-secondary: #354F52;

  --color-text-body: #F0F0F0;
  --color-text-heading: #e9ece7;
  --color-text-inverse: #FFFFFF;

  --color-primary: #84A98C;
  --color-secondary: #52796F;
  --color-accent: #E07A5F;
  --color-highlight: #F4A261;
}

body {
    transition: background-color 0.6s ease, color 0.6s ease;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    color: var(--color-text-body);
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-bar a {
    text-decoration: none;
    display: flex;
    color: var(--color-text-body);
    font-size: 16px;
    font-weight: 100;
    flex: 1;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    padding: 0;
    max-width: fit-content;
}

.nav-bar a:hover,
footer a:hover
{
    transform: scale(1.2);
    color: var(--color-highlight);
}

a {
    text-decoration: none;
    color: unset;
    padding: 12px;
}

ul {
    list-style: none;
}

.logo {
    display: flex;
    margin: 12px;
    margin-left: auto;
}

.nav-bar li{
    display: flex;
    margin: 12px;
    flex: 1;
    max-width: fit-content;
}

.nav-bar {
    display: flex;
    background-color: var(--color-bg-secondary);
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    flex: 1;
    height: auto;
    max-height: 44px;
}

.nav-bar-links {
    display: flex;
    margin: 0;
    padding: 0;
    max-width: fit-content;
    flex: 1;
}

.right-links {
    max-width: fit-content;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0;
    margin-right: auto;
    padding: 0;
}

#theme-sun, #theme-moon {
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#theme-sun.show, #theme-moon.show {
    opacity: 1;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: 12px;
}

.menu-toggle .bar {
    display: flex;
    background-color: var(--color-text-body);;
    height: 3px;
    width: 20px;
    margin: 3px;
    border-radius: 3px;
}

svg {
    display: flex;
    width: 20px;
    height: auto;
    padding: 0;
    margin:0;
    fill: var(--color-text-body);
    transition: fill 0.3s ease-in-out;
}

svg:hover {
    fill: var(--color-highlight);
}

.hero {
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 16px;
    flex: 1;
    padding: 16px;
    position: relative;
    min-height: 90vh;
}

.hero--first {
    background: url("assets/photos/pixelated-meadow-with-clouds-jpg-ix1amwb0izf0c5zw.jpg") no-repeat center/cover;
    width: 100%;
}

.dark .hero--first h2 {
    color: #354F52
}

.dark .hero--first p {
    color: #2F3E46;
}

.hero-pet-mascot {
    width: 150px;
    height: auto;
    animation: float 3s ease-in-out infinite alternate;
}

@keyframes float {
    0%   { transform: translateY(0px); }
    50%  { transform: translateY(-15px); }
    100% { transform: translateY(0px); }
}

.undertext {
    display: flex;
    margin-bottom: 16px;
    background: linear-gradient(to right, red, orange, yellow);
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
    color: transparent;
    font-weight: 500;
    font-size: 24px;
}

.hero--first .undertext {
    background: linear-gradient(to right,rgb(0, 50, 100),rgb(0, 47, 200),rgb(211, 8, 8));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


.hero--second {
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/053/642/039/original/alberto-garcia-pixel-world-map.gif?1662670926);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 900px;
    position: relative;
    max-height: 900px;
    justify-content: center;
}

.hero--second h2 {
    color: #ffffff;
    position: absolute;
    top: 16px;
    white-space: normal;
    word-wrap: break-word;
    display: flex;
}

.hero--second .undertext {
    position: absolute;
    bottom: -4px;
}

.hero--second p {
    position: absolute;
    bottom: 240px;
    color: #ffffff;
}

.hero--second button,
.box-wimg button{
    background-color: transparent;
    background-repeat: no-repeat;
    overflow: hidden;
    outline: none;
    color: white;
}

.any-link {
  position: absolute;
  inset: 0;
  z-index: 1;
}
 
.text {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

h2 {
    display: flex;
    font-weight: 1000;
    font-size: 60px ;
    color: var(--color-text-heading);
    margin: 0;
    text-align: center;
}

p {
    display: flex;
    margin: 0;
    font-weight: 600;
    font-size: 28px ;
    color: var(--color-text-body);
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
}

button{
    display: flex;
    max-width: 100%;
    height: 72px;
    aspect-ratio: 100% / 72;
    border-radius: 40px;
    color: var(--color-text-inverse);
}

.buy,
.learn-more{
    position: relative;
    z-index: 2;
}

.learn-more, 
.buy {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75em 1.5em;
    min-width: 100px;
    border-radius: 40px;
    font-size: 1rem;
    font-weight: 700;
    border: 2px solid var(--color-highlight);
    transition: background-color 0.3s ease-in-out;
    box-sizing: border-box;
}

.learn-more {
    background-color: var(--color-highlight);
}

.buy {
    background-color: var(--color-secondary);
}

.buy:hover {
    background-color: var(--color-highlight);
}

.learn-more:hover {
    background-color: rgb(255, 175, 25);
}

.content {
    display: flex;
    color: var(--color-secondary);
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    gap: 16px;
    margin: 0 16px 16px 16px;
    align-items: stretch;
}

.box, 
.box-wimg {
    display: flex;
    box-sizing: border-box;
    flex: 1 1 calc(48%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    color: var(--color-text-inverse);
    max-width: 100%;
    position: relative;
    height: 700px;
    margin: 0;
}

.box-wimg {
    background-image: url('assets/photos/pixel-art-illustration-mine-quarry-pixelated-tunnel-mine-quarry-tunnel-pixelated-game_1038602-1041.avif');
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    justify-content: flex-end;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    position: relative;
    margin-top: 0px;
    display: flex;
    background-color: var(--color-text-heading);
    max-height: fit-content;
    justify-content: space-between;
    padding: 4px;
    align-content: center;
}

.dark footer {
    background-color: #111111;
}

.footer-center {
    position: absolute;
    left: 51%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}

footer ul {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
}

footer a {
    color: var(--color-text-inverse);
    font-size: 12px;
    margin: 0;
    padding: 0;
    display: flex;
}

footer .footer-links a:hover {
    transform: scale(1.2);
}

footer p {
    font-weight: 100;
    font-size: 12px ;
    color: var(--color-text-inverse);
    padding: 0 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer svg {
    width: 16px;
}

footer svg:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

footer li {
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links{
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-center {        
        position: relative;
        transform: none;
        left: 0;
    }

    .footer-links {
        justify-content: center;
        align-items: center;
    }

    .nav-bar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
    }

    .menu-toggle {
        display: flex;
        justify-content: center;
    }

    .nav-bar {
        padding: 0 12px;
        justify-content: center;
    }

    .right-links {
        margin: 0;
        margin-left: auto
    }

    .logo {
        margin: 0;
    }

    .content {
    gap: 8px;
    margin: 0;
    }

    .box, .box-wimg {
        margin: 0;
        margin-top: 12px;
    }

    .box--one {
        margin-top: 4px;
    }

    .box--last {
        margin-bottom: 12px;
    }

    .box, .box-wimg {
    flex: 1 1 calc(51%);
    }

    .nav-bar-links {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111;
    font-size: 2rem;
    gap: 2rem;
    z-index: 999;
    transition: all 0.3s ease-in-out;
    clip-path: inset(0 0 100% 0); 
}

.nav-bar-links li {
    justify-content: center;
    align-items: center;
}

.nav-bar-links.open {
    display: flex;
    clip-path: inset(0 0 0 0); 
}

.menu-toggle span {
    display: block;
    width: 20px;
    height: 4px;
    border-radius: 4px;
    margin: 1px;
    background: var(--color-text-body);
    transition: all 0.3s ease;
}

.menu-toggle.active span{
    background-color: #F4A261; 
} 
}