@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #84A98C;
    overflow-y: auto;
}

.nav-bar a {
    text-decoration: none;
    display: flex;
    color: #000000;
    font-size: 16px;
    font-weight: 100;
    flex: 1;
    transition: color 0.3s ease-in-out;
    padding: 0;
    max-width: fit-content;
}

.nav-bar a:hover,
footer a:hover
{
    color: orange;
}

a {
    text-decoration: none;
    color: unset;
    padding: 12px;
}

ul {
    list-style: none;
}

.logo {
    display: flex;
    margin: 12px;
    margin-left: auto;
}

.nav-bar li{
    display: flex;
    margin: 12px;
    flex: 1;
    max-width: fit-content;
}

.nav-bar {
    display: flex;
    background-color: #CAD2C5;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    flex: 1;
    height: auto;
    max-height: 44px;
}

.nav-bar-links {
    display: flex;
    margin: 0;
    padding: 0;
    max-width: fit-content;
    flex: 1;
}

.right-links {
    max-width: fit-content;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0;
    margin-right: auto;
    padding: 0;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: 12px;
}

.menu-toggle .bar {
    display: flex;
    background-color: black;
    height: 3px;
    width: 20px;
    margin: 3px;
    border-radius: 3px;
}

svg {
    display: flex;
    width: 20px;
    height: auto;
    padding: 0;
    margin:0;
    fill: black;
    transition: fill 0.3s ease-in-out;
}

svg:hover {
    fill: orange;
}

.hero {
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: space-evenly;
    background-color: #52796F;
    margin-bottom: 12px;
    padding: 8px;
    flex: 1;
    position: relative;
    min-height: 845px;
}

.hero--second {
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/053/642/039/original/alberto-garcia-pixel-world-map.gif?1662670926);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 900px;
    position: relative;
    max-height: 900px;
    justify-content: center;
}

.hero--second h2 {
    color: #ffffff;
    position: absolute;
    top: 0;
}

.hero--second .undertext {
    position: absolute;
    bottom: 0;
}

.hero--second p {
    position: absolute;
    bottom: 240px;
    color: #ffffff;
}

.hero--second button,
.box-wimg button{
    background-color: transparent;
    background-repeat: no-repeat;
    overflow: hidden;
    outline: none;
    color: white;
}

.any-link {
  position: absolute;
  inset: 0;
  z-index: 1;
}
 
.text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

h2 {
    display: flex;
    font-weight: 1000;
    font-size: 60px ;
    color: #131313;
    margin: 0;
    padding: 12px;
    text-align: center;
}

p {
    display: flex;
    margin: 0;
    padding: 8px;
    font-weight: 600;
    font-size: 28px ;
    color: #1f1f1f;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button{
    display: flex;
    max-width: 140px;
    height: 72px;
    aspect-ratio: 140 / 72;
    border-radius: 40px;
}

.buy,
.learn-more{
    position: relative;
    z-index: 2;
}

.learn-more, 
.buy {
    display: flex;
    border: 2px solid orange;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    flex: auto;
}

.learn-more {
    background-color: orange;
    transition: background-color 0.3s ease-in-out;
}

.buy {
    background-color: #52796F;
    transition: background-color 0.3s ease-in-out;
}

.buy:hover {
    background-color: orange;
}

.learn-more:hover {
background-color: rgb(255, 175, 25);
}

.undertext {
    display: flex;
    padding: 8px;
    background: linear-gradient(to right, red, orange, yellow);
    -webkit-background-clip: text; /* For WebKit browsers like Chrome, Safari */
    background-clip: text;
    text-align: center;
    color: transparent;
    font-weight: 500;
    font-size: 24px;
}

.content {
    display: flex;
    color: #52796F;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: -4px;
}

.box, 
.box-wimg {
    display: flex;
    box-sizing: border-box;
    flex: 1 1 calc(48%);
    margin: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #52796F;
    color: #ffff;
    max-width: 100%;
    position: relative;
}

.box-wimg {
    background-image: url('assets/photos/pixel-art-illustration-mine-quarry-pixelated-tunnel-mine-quarry-tunnel-pixelated-game_1038602-1041.avif');
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    justify-content: flex-end;
}

img {
    max-width: 100%;
    height: auto;
    margin: 8px;
}

footer {
    margin-top: 0px;
    display: flex;
    background-color: #354F52;
    margin-bottom: 0px;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: fit-content;
}

footer ul {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
}

footer a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 100;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

footer p {
    font-weight: 100;
    font-size: 12px ;
    color: #ffffff;
    padding: 0;
}

footer svg {
    width: 16px;
}

footer li {
    margin: 4px 12px ;
}

.footer-links{
    justify-content: center;
}

@media (max-width: 870px) {
    .nav-bar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
    }

    .menu-toggle {
        display: flex;
        justify-content: center;
    }

    .nav-bar {
        padding: 0 12px;
        justify-content: center;
    }

    .right-links {
        margin: 0;
        margin-left: auto
    }

    .logo {
        margin: 0;
    }

}

@media (max-width: 814px) {
    .content {
        margin: -4px 0 0 0;
    }

    .box, .box-wimg {
        margin: 0;
        margin-top: 12px;
    }

    .box--one {
        margin-top: 4px;
    }

    .box--last {
        margin-bottom: 12px;
    }

    .box, .box-wimg {
    flex: 1 1 calc(51%);
    }
}